#buy_page {
    width: 100%;
	float: left;
	margin-top: 100px;
	
}

.chrcts {
    float: left;
    width: 55%;
    margin-left: 20.5%;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 30px;
}

 .heading {
    float: left;
    margin-left: 20.5%;
}

.chrcts > .heading2 {
    float: left;
    font-size: 1.4em;
}

.chrcts > p {
    font-size: 0.95em;
}


.fotos {
    margin-left: 20.5%;
    float: left;
    width: 30%;
    border: 1px solid silver;
    text-align: center;
    border-radius: 15px;
}

.buy {
    width: 24%;
    float: left;
    
}

.buy {
    margin-left: 1%;
    background-color: #DCDCDC;
    border-radius: 2px;
    padding: 10px;
}

.buy > .block_one {
    font-family: "Uni Sans Heavy", sans-serif;
    width: 100%;
    float: left;
    border-bottom: 1px solid silver;
    padding-bottom: 5px;
    text-align: center;
}

.buy > .block_one > span {
    font-family: "Uni Sans Thin", sans-serif;
}

.buy > .block_two {
    color: black;
    float: left;
    width: 45%;
    padding: 2.5% 1.5%;
    text-align: center;
    background: #909090;
     margin-left: 3.5%;
}

.buy > .block_two:hover {
    background: #3d3d3d;
    transition: all .25s ease-out;
    color: white;
    cursor: pointer;
}

.buy > .block_two:active {
    background: #FF7538;
    color: black;
    transition: all .1s ease-out;
}

.buy > .block_three {
    color: black;
    float: left;
    width: 45%;
    padding: 2.5% 1.5%;
    margin-left: 3%;
    text-align: center;
    background: #909090;
}

.buy > .block_three:hover {
    background: #3d3d3d;
    transition: all .25s ease-out;
    color: white;
    cursor: pointer;
}

.buy > .block_three:active {
    background: #FF7538;
    color: black;
    transition: all .1s ease-out;
}